body,
html,
h1,
h2,
h3,
h4,
h5,
p {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

body {
    background-color: #fafafa;
}


h2 {
    font-weight: 500;
    font-size: 14px;
    margin: 15px;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

p {
    margin: 7px;
    font-size: 13px;
}

.block-with-text {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
}

.page-container{
    max-width: 1200px;
    margin: auto;
    text-align:center;
}

.slider, .alert-message{
    margin: 20px 0;
}

.letter{
    width: 55px;
    height: 55px;
}

.letter-container{
    text-transform: capitalize;
    font-weight: 500;
    font-size: 50px;
    margin: 2px;
    text-align: center;
}

.space-letter{
    margin-left: 55px;
}

.other-letter{
    font-size: 50px;
    text-align: center;
}

a, button{
    text-decoration: none;
    color: white;
}

#continuous-slider{
    margin-top: 20px;;
    text-align: left;
}

.regular-button{
    margin-top: 30px;
    color: white;
}

.start-game-container{
    line-height: 100px;
    height: 80px;
}

